{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"experimentalTernaries": false,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"overrides": [],
	"parser": "",
	"plugins": [],
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}